# HolderSet.Named constructor
public net.minecraft.core.HolderSet$Named <init>(Lnet/minecraft/core/HolderOwner;Lnet/minecraft/tags/TagKey;)V

# HolderSet.Named.bind
public net.minecraft.core.HolderSet$Named bind(Ljava/util/List;)V